@charset "UTF-8";
body {
  background: #f9d448;
  font-family: Helvetica;
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0); }

section {
  padding-top: .5rem;
  padding-bottom: 4rem;
  width: 100%;
  background: #f9d448 url("../images/tmyq.png") no-repeat left top;
  background-size: 100%;
  position: relative; }
  section .yqhy {
    display: block;
    margin: .12rem auto 0;
    width: 80%;
    height: auto;
    position: relative;
    z-index: 999;
    -webkit-transform: translateY(-600px) rotate(80deg);
    transform: translateY(-600px) rotate(80deg);
    /*邀请好友向钱冲动画*/
    -webkit-animation: down 700ms linear 500ms 1 forwards;
    /* Safari and Chrome */
    animation: down 700ms linear 500ms 1 forwards;
    /* Safari and Chrome */ }
  section .send, section .geM {
    position: absolute;
    z-index: 1; }
  section .geM {
    width: 1.5rem;
    height: auto;
    left: .1rem;
    top: 2.4rem;
    opacity: 0; }
  section .send {
    width: 1rem;
    height: auto;
    right: .2rem;
    top: 2.2rem;
    opacity: 0; }

@-webkit-keyframes down {
  0% {
    opacity: .8;
    -webkit-transform: translateY(-600px) rotate(-80deg); }
  20% {
    opacity: 1;
    -webkit-transform: translateY(-300px) rotate(40deg); }
  60% {
    opacity: 0.8;
    -webkit-transform: translateY(100px) rotate(-60deg); }
  80% {
    opacity: 1;
    -webkit-transform: translateY(50px) rotate(40deg); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0) rotate(0deg); } }
@keyframes down {
  0% {
    opacity: .8;
    transform: translateY(-600px) rotate(-80deg); }
  20% {
    opacity: 1;
    transform: translateY(-300px) rotate(40deg); }
  60% {
    opacity: 1;
    transform: translateY(100px) rotate(-60deg) scale(0.6); }
  80% {
    opacity: 1;
    transform: translateY(50px) rotate(80deg) scale(0.85); }
  100% {
    opacity: 1;
    transform: translateY(0) rotate(0deg) scale(1); } }
/*送出请柬动画*/
@-webkit-keyframes swiper-right {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-0.5rem, 0.5rem, 0) scale(0.2); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale(1); } }
@keyframes swiper-right {
  0% {
    opacity: 0;
    transform: translate3d(-0.5rem, 0.5rem, 0) scale(0.2); }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(1); } }
/*朋友消费你提成请柬动画*/
@-webkit-keyframes swiper-left {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-1.2rem, 0.9rem, 0) scale(0.5); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale(1); } }
@keyframes swiper-left {
  0% {
    opacity: 0;
    transform: translate3d(-1.2rem, 0.9rem, 0) scale(0.5); }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(1); } }
@-webkit-keyframes swiper-left1 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-0.5rem, 0.4rem, 0) scale(0.5); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale(1); } }
@keyframes swiper-left1 {
  0% {
    opacity: 0;
    transform: translate3d(-0.5rem, 0.4rem, 0) scale(0.5); }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(1); } }
@-webkit-keyframes swiper-right1 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-0.5rem, 0.2rem, 0) scale(0.2); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale(1); } }
@keyframes swiper-right1 {
  0% {
    opacity: 0;
    transform: translate3d(-0.5rem, 0.2rem, 0) scale(0.2); }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(1); } }
/*--媒体查询进行各分辨率适配--*/
@media screen and (min-width: 320px) and (max-width: 480px) {
  /*iphone5*/
  section .yqhy {
    margin: .1rem auto 0;
    width: 60%;
    height: auto; }

  section .geM {
    width: 1.2rem;
    height: auto;
    top: 2rem;
    left: .2rem;
    opacity: 0;
    -webkit-animation: swiper-left1 300ms ease 1.2s 1 forwards; }

  section .send {
    width: .8rem;
    height: auto;
    top: 1.9rem;
    right: .2rem;
    opacity: 0;
    -webkit-animation: swiper-right1 500ms ease 2s 1 forwards; } }
@media screen and (min-width: 375px) and (max-width: 627px) {
  /*iphone6*/
  section .yqhy {
    margin: .15rem auto 0;
    width: 80%;
    height: auto;
    opacity: 0; }

  section .geM {
    width: 1.2rem;
    height: auto;
    left: .1rem;
    top: 2.4rem;
    opacity: 0;
    animation: swiper-left1 300ms ease 1.2s 1 forwards; }

  section .send {
    width: .8rem;
    height: auto;
    right: .3rem;
    top: 2.2rem;
    opacity: 0;
    animation: swiper-right1 500ms ease 2s 1 forwards; } }
@media screen and (min-width: 414px) and (max-width: 736px) {
  /*iphone6plus*/
  section .send {
    width: .98rem;
    height: auto;
    right: .2rem;
    top: 2.4rem;
    opacity: 0;
    animation: swiper-right1 500ms ease 2s 1 forwards; }

  section .geM {
    width: 1.6rem;
    height: auto;
    left: .2rem;
    top: 2.65rem;
    opacity: 0;
    animation: swiper-left1 300ms ease 1.2s 1 forwards; } }
@media screen and (min-width: 600px) and (max-width: 960px) {
  section {
    padding-top: .5rem;
    padding-bottom: 6rem;
    width: 100%;
    position: relative; }
    section .yqhy {
      display: block;
      margin: .3rem auto 0; }

  section .send {
    width: 1.2rem;
    height: auto;
    right: .6rem;
    top: 3.6rem;
    opacity: 0;
    animation: swiper-right1 500ms ease 2s 1 forwards; }

  section .geM {
    width: 2rem;
    height: auto;
    left: .2rem;
    top: 4rem;
    opacity: 0;
    animation: swiper-left1 300ms ease 1.2s 1 forwards; } }

/*# sourceMappingURL=tmyq.css.map */
